<p>bill index</p>

<%= turbo_frame_tag "new_bill", target: "_top" %>

<%= link_to "New Bill", new_bill_path, data: { turbo_frame: "new_bill" } %>

<br>
<%= link_to 'home', root_path %>

<% if !@bills.nil? %>
  <% @bills.each do |bill| %>
    <p><%= bill.title %></p>
  <% end %>
<% end %>